@page "/"

@using WebApplication.Data
@using Common
@using System.Reflection
@inject WeatherForecastService ForecastService

    <div class="main-div">
<div>
    
    <div class="input-group mb-3">
      <input @bind="@Input" type="text" class="form-control" placeholder="City">
      <div class="input-group-append">
           <button @onclick="SearchOnClick"  type="button" class="btn btn-primary" >Search</button>
      </div>
    </div>
</div>

@if (forecast == null)
{
    <p>
        <em>Can't fetch info</em>
    </p>
}
else
{

    <div><h1 class="city"> @forecast.City</h1></div>
        <div><p>@forecast.Summary</p></div>
        <div><img src="http://openweathermap.org/img/wn/@forecast.ImageName@@2x.png"/></div>
    <div><h3>@forecast.Temperature°C</h3></div>
    
    
    
}
</div>
@code {
    
    private WeatherForecast forecast;
    private string Input { get; set; }
    protected override async Task OnInitializedAsync()
    {
          forecast = await ForecastService.GetForecastAsync(Input);
        
    }
    
    private async Task SearchOnClick(){
        forecast = await ForecastService.GetForecastAsync(Input);
    }

}